[Unit]
Description=Phosphor Time Manager daemon
Wants=mapper-wait@-xyz-openbmc_project-time-sync_method.service
After=mapper-wait@-xyz-openbmc_project-time-sync_method.service

[Service]
Restart=always
ExecStart=/usr/bin/env phosphor-time-manager
SyslogIdentifier=phosphor-time-manager
Type=dbus
BusName=xyz.openbmc_project.Time.Manager

[Install]
WantedBy=multi-user.target
